body {background-color:midnightblue}
h1 {text-align: center;}
h4 {text-align: justify;}
img {max-block-size: 229px;}
p{font-size: medium; color: red}
ul {border: midnightblue;}
li{color: black;}
tr{color: rgb(0, 0, 0);}
.jumbotron {color: rgb(0, 0, 0)}
.external-img {max-block-size: 170px}
#navbarDropdown {font-size: x-large; color: green; font-display:block ;}
