body {background-color:midnightblue}
h1 {text-align: center;}
h4 {text-align: justify;}
h5 {color:lightgreen;}
h3 {color:lightgreen !important;}
img {max-block-size: 229px;}
ul {border: midnightblue;}
li{color:lightgreen;}
tr{color: rgb(0, 0, 0);}
.jumbotron {color: rgb(0, 0, 0)}
#navbarDropdown {font-size: x-large; color: green; font-display:block ;}
.navbar-custom {background-color: midnightblue !important;}
.nav-link {color:lightgreen}
#navbarSupportedContent {color: lightgreen;}
.graph-page-img {width: 100%; max-block-size: 1000px;}
.spotify-img {width:100%;max-block-size:500px;}
#graph-paragraph {font-size: xx-large; color:lightgreen; font-display: block; margin-block: auto;}
.selected-graph {border: 5px solid black;}
.compare-img {flex-wrap: inherit; max-width: 100%; min-block-size: 500px;}
.vis-page-title {font-size: 30 ;color: lightgreen}
.comp-page-title {font-size: 10; text-align:justify; color: lightgreen; font-variant-position: bottom;}
th {color: lightsteelblue; text-align: center;}
tr {color: rgb(205, 227, 255);}
.table-hover {color: lightyellow;}
.table {margin: inherit;}